<%= form_for [refinery, :style_admin, @game] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @game,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :description -%>
    <%= f.text_area :description, :class => 'widest', :rows => 4 -%>
  </div>

  <div class='field'>
    <%= f.label :'css_file', 'Css file (optional)' -%>
    <%= f.hidden_field :css_file_id %>
    <% css_file_title = if @game.css_file then "#{@game.css_file.title} (#{@game.css_file.file_name})" else 'Select a css file' end %>
    <%= link_to css_file_title, refinery.insert_admin_resources_path(:dialog => true, :callback => 'add_css_file_fields'), :id => 'game_css_file_link' %>
  </div>

  <div class='field style_list'>
    <span class='label_with_help'>
      <%= f.label :styles, t('.included_styles'), :class => "title_label" %>
      <%= link_to_add_fields "(#{t('.add_style')})", f, :styles %>
    </span>
    <ul id='styles' class='checkboxes'>
      <%= f.fields_for :styles do |builder| %>
        <%= render "style_fields", :f => builder %>
      <% end %>
    </ul>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.games.admin.games.game'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @game.name) -%>
<% end -%>

<% content_for :javascripts do %>
  <script>
    function remove_fields(link) {
      $(link).prev("input[type=hidden]").val("1");
      $(link).closest(".fields").hide();
    }

    function add_fields(link, association, content) {
      var new_id = new Date().getTime();
      var regexp = new RegExp("new_" + association, "g");
      $('#'+association).append(content.replace(regexp, new_id));
    }

    function add_css_file_fields(file) {
      $('#game_css_file_id').val(file.id);
      $('#game_css_file_link').text(file.html);
    }
  </script>
<% end %>



<% content_for :stylesheets do %>
  <style type="text/css">
    ul.checkboxes li {
      padding-bottom: 5px;
    }
  </style>
<% end %>