<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(game) -%>">
  <span class='title'>
    <%= game.name %> (<%= game.styles.pluck(:name).join(', ') %>)

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.style_game_path(game),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_style_admin_game_path(game),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("image_edit.png"), refinery.edit_categories_style_admin_game_path(game),
         :title => t('.edit_images') %>
    <%= link_to refinery_icon_tag("eye.png"), refinery.analyze_style_admin_game_path(game),
         :title => t('.analyze') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.style_admin_game_path(game),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => game.name),
        :method => :delete %>
  </span>
</li>
