<%= form_for [refinery, :style_admin, @game, @image_category] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @image_category,
              :include_object_name => true %>

  <div id="image_categories">
    <div class="left_part">
      <table class="table">
        <thead>
          <th>Image</th>
          <th>Name</th>
          <% @game.styles.each do |style| %>
            <th><%= style.name %></th>
          <% end %>
          <th></th>
        </thead>
        <tbody id="images" class="field">
          <%= f.fields_for :images do |builder| %>
            <%= render "image_fields", :f => builder %>
          <% end %>
        </tbody>
      </table>

      <%= link_to t('.create_new'), refinery.insert_admin_images_path(:dialog => true, :callback => "add_image_fields"), :class => 'button' %>
    </div>

    <div class="right_part">
      <h2>Category</h2>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :match_count %>
        <%= f.text_field :match_count %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, :rows => 3 %>
      </div>
    </div>

  </div>

  <div class="cleanfix"></div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :hide_delete => true -%>

  <% content_for :javascripts do %>
    <script>
      function remove_fields(link) {
        $(link).prev("input[type=hidden]").val("1");
        $(link).closest(".fields").hide();
      }

      var image_fields = "<%= escape_javascript(get_new_fields(f, :images)) %>";

      function add_image_fields(image) {
        var new_id = new Date().getTime();
        var regexp = new RegExp("new_images", "g");
        $img = $(image);
        $tr = $(image_fields.replace(regexp, new_id)).appendTo('#images');
        $tr.find('.image img').attr({src: $img.attr('src')});
        $tr.find('.image input[type=hidden]').val($img.data('id'));
      }
    </script>
  <% end %>
<% end -%>

<% content_for :stylesheets do %>
  <style type="text/css">
    #records {
      width: 99%;
    }
    
    #image_categories{
      display: inline-block;
      width: 100%;
    }

    #image_categories .left_part{
      width: 66%;
      float: left;
    }

    #image_categories .right_part{
      width: 33%;
      float: left;
    }

    .pull-right{
      float: right;
    }

    input.input-small{
      width: 100px;
    }
  </style>
<% end %>
