<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(image_category) -%>">
  <span class='title'>
    <%= image_category.name %> (<%= image_category.images.length %> images)

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_style_admin_game_image_category_path(@game, image_category),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.style_admin_game_image_category_path(@game, image_category),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => image_category.name),
        :method => :delete %>
  </span>
</li>
